# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

out
gen
/src/main/java/com/example/base/
.gitignore
.idea/httpRequests/
src/test/
target/classes/application.properties
target/classes/com/example/base/
target/classes/com/example/mapper/
target/classes/com/example/model/
target/classes/com/example/service/
target/classes/mapping/
target/classes/static/
target/generated-sources/
/src/main/java/com/example/base/dao/Dao.java
/src/main/java/com/example/base/dao/IDao.java
/src/main/java/com/example/base/page/Page.java
/src/main/java/com/example/base/ConfigurationService.java
/src/main/java/com/example/base/IConfigurationService.java
/src/main/java/com/example/base/util/Page.java
